{
    "presets":[
        "es2015", "react"
    ],
    "plugins": [
        [
        "module-resolver", {
          "alias": {
            "styles": "./src/styles",
            "conatiner": "./src/containers",
            "atoms": "./src/components/atoms",
            "molecules": "./src/components/molecules",
            "organisms": "./src/components/organisms",
            "ecosystems": "./src/components/ecosystems"
          }
        }]
    ]
}