@media only screen and (min-width: 769px) {
    .edit-order-page-container {
        display: flex;
        flex-direction: column;
        padding: 100px 70px 310px 35px;
        
        .edit-order-breadcrumb {
            margin-bottom: 25px;
        }

        .edit-order-header {
            display: flex;
            margin-bottom: 15px;
            .edit-order-order-header {
                flex: 4 auto;
            }

            .edit-order-header-button {
                flex: 1 auto;
                align-self: center;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .back-link {
                    margin-left: 10px;
                    color: $colorGrey;
                    font-size: 14px;
                    line-height: 17px;
                    cursor: pointer;
                }

                .update-button {
                    margin-left: 35px;
                }
            }
        }

        .edit-order-add-product {
            margin-bottom: 15px;
        }

        .edit-order-summary {
            position: fixed;
            bottom: 18px;
            right: 73px;
            z-index: 10;
        }
    }
}