@include breakpoint(desktop) {
    .navigation-container {
        display: flex;
        flex-direction: column;

        width: 250px;
        height: 100%;

        background-color: $colorPurple-Light;
        
        >.logo-container {
            width: 100%;
            height: 70px;

            background-color: $colorPurple-Dark;
            background-image: url('/icons/logo-white.svg');
            background-position: center;
            background-repeat: no-repeat;
        }
        
        >.sidemenu-container {
            flex: 1 auto;
            overflow-y: auto; 

            >.user-info {
                padding: 5px 0 5px 21px;
                background-color: #FFFFFF;
                >.info-name {
                    margin-bottom: 2px;
    
                    color: #DF542A;
    
                    font-size: 14px;
                    line-height: 17px;
                }
                >.info-company {
                    color: #626272;
    
                    font-size: 11px;
                    line-height: 13px;
                    text-transform: uppercase;
                }
            }
        }

        >.footer-container {
            width: 100%;
            height: 85px;
            
            color: $colorPink;

            font-size: 11px;
            text-align: center;
            letter-spacing: 1px;

            background-image: url('/icons/logo-white.svg');
            background-repeat: no-repeat;
            background-position: center 22px;
            background-size: 113px auto;
        }
    }
}