@media only screen and (max-width: 768px) {
    .add-product-input {
        position: relative;
        width: 100%;
        img {
            position: absolute;
            z-index: 10;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            height: 32px;
            width: 32px;
        }
        input {
            height: auto;
            padding: 23px 0 25px 57px;
            text-align: left;
            border: 1px solid #C3C8CD !important;
            border-left: none !important;
            border-right: none !important;
            font-size: 18px;
            line-height: 21px;
            color: $colorGrey-Light;
            box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.11), 0 2px 3px 0 rgba(98,98,114,0.21);
        }
    }
}