@keyframes loading {
    0%   {
        transform: translateY(-50%) scale(0.6);
        opacity: 1;
    }
    100% {
      transform: translateY(-50%) scale(1);
      opacity: 0;
    }
}

@mixin input-icon {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;

    height: 20px;
    width: 20px;
}

@media only screen and (min-width: 769px) {
    .add-product-input {
        position: relative;
        .add-icon {
            @include input-icon;
        }
        .active {
            transform: translateY(-50%) rotate(45deg);
        }
        .loader {
            @include input-icon;
            border-style: solid;
            border-color: grey;
            border-width: 2px;
            border-radius: 50%;
            animation: loading 0.8s infinite;
        }
        input {
            height: auto;
            padding: 17px 0 18px 45px;
            text-align: left;
            border: 1px solid #C3C8CD !important;
            border-radius: 3px !important;
            font-size: 12px;
            line-height: 15px;
            color: #8899AA;
        }
    }

    .add-product-input-stretch {
        width: 100%;
    }
}