.mobile-top-bar-container {
    width: 100%;
    position: relative;
    
    padding: 7.5px 30px 8.5px 30px;

    color: #FFFFFF;
    background-color: #702283;

    font-size: 15px;
    text-align: center;
    line-height: 34px;
    

    .back-icon {
        height: 17px;
        width: 19px;

        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%) rotate(180deg);
    }

    .magnify-icon {
        height: 17px;
        width: 17px;
        
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);   
    }
}