@mixin summary-header {
    display: flex;
    flex: 0 65%;
    height: 40px;
    
    font-size: 11px;

    align-items: center;
}

@mixin summary-data {
    display: flex;
    flex: 0 35%;
    height: 40px;

    justify-content: flex-end;
    align-items: center;
    
    font-size: 11px;
}

.order-summary-container {
    display: flex;
    @include breakpoint(desktop) {
        width: 300px;
    }
    
    @include breakpoint(mobile) {
        width: 100%;
    }
    flex-wrap: wrap;
    overflow-wrap: break-word;
    overflow-x: auto; 
    padding: 10px 16px 10px 16px;

    background-color: $colorWhite;
    color: $colorGrey;

    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.12);
    
    .line-separator {
        width: 100%;
        height: 2px;

        border: 1px solid #F1F0F4;
        border-top: none;
    }

    >.summary-header {
       @include summary-header();
    }

    >.summary-data {
        @include summary-data();
    }
    
    >.summary-sub-total {
        @include summary-data();
        font-size: 12px;
    }

    >.summary-tax {
        display: flex;
        flex: 0 35%;
        
        >.summary-tax-percent{
            @include summary-data();
            width: 28px;
        }
        >.summary-tax-value{
            @include summary-data();
            flex: 1 auto;
            padding-left: 5px;
        }
    } 

    >.summary-total {
        display: flex;
        width: 100%;

        font-size: 14px;
        
        >.total-header {
            @include summary-header();
            flex: 1 auto;
        }

        >.total-data {
            @include summary-data();
            flex: 2 auto;

            font-size: 18px;
            white-space: nowrap;
        }
    }
}