.order-header-detail {    
    h2 {
        font-size: $fontSize-Large;
        color: $colorGrey-Dark;
    }

    p {
        font-size: $fontSize-Small;
        color: $colorGrey-Light;
    }

    h2, p:not(:last-child) {
        margin-bottom: 5px;
    }
}

.order-header-select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    div {
        justify-self: center;
    }
    span {
        font-size: $fontSize-ExtraSmall;
        color: $colorGrey-Dark;
    }
}