@media only screen and (max-width: 768px) {
    .order-summary-container {
        display: grid;
        grid-template-columns: 1fr 140px;
        grid-row-gap: 10px;
        grid-auto-rows: auto;
        overflow-wrap: break-word;
        overflow-x: auto; 
        box-shadow: 0 2px 14px 0 rgba(0,0,0,0.12);
        padding-top: 14px;
        padding-bottom: 15px;
        background-color: $colorWhite;
        color: $colorGrey-Dark;

        .line-separator {
            grid-column-start: 1;
            grid-column-end: 3;
    
            height: 2px;
            border: 1px solid #F1F0F4;
            border-top: none;
        }

        .order-summary-header {
            align-self: center;
            justify-self: start;
            font-size: 14px;
            padding-left: 18px;
        }
    
        .order-summary-data {
            align-self: center;
            justify-self: end;
            font-size: 11px;
            padding-right: 12px;
        }
        
        .order-summary-tax {
            display: grid;
            justify-self: end;
            grid-template-columns: 44px max-content;
            grid-column-gap: 5px;
    
            div {
                align-self: center;
            }
    
            .order-summary-tax-percent{
                justify-self: start;
            }
            .order-summary-tax-value{
                justify-self: end;
            }
        }
    
        .order-summary-sub-total {
            font-size: 16px;
        }
    
        .order-summary-total {
            font-size: 16px;
            display: grid;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-column-gap: 5px;
            grid-template-columns: 100px 1fr;
            padding-right: 12px;

            .order-total-header {
                align-self: center;
            }
    
            .order-total-data {
                font-size: 24px;
                align-self: center;
                white-space: nowrap;
                justify-self: end;
            }
        }
    }
}