@include breakpoint(desktop) {
    .order-header-container {
        display: flex;
        align-items: center;
        
        padding: 12px 20px 12px 15px;
        border: 1px solid rgba(173,179,185,0.51);
        border-radius: 3px;
        box-shadow: 0 2px 0 0 rgba(0,0,0,0.14);

        background: $colorWhite;
        
        >.order-header-detail {
            flex: 1;
            >h2 {
                margin: 0;
                color: $colorGrey;
                font-size: 16px;
                
            }
        
            >p {
                margin: 0;
                margin-top: 5px;
                color: #8899AA;
                font-size: 12px;
            }
        }
        
        >.order-header-select {
            display: flex;
            flex: 1 0 40%;
            justify-content: flex-end;

            >.header-select {
                flex: 0 0 25%;
               
                min-width: 85px;

                color: #626272;

                text-align: center;
                font-size: 11px;
                line-height: 20px;
                
                &:not(:last-child) {
                    margin-right: 15px;
                    margin-left: 15px;
                }
                
                &:last-child {
                    margin-left: 15px;
                }
            }

            >.separator {
               
                height: 34px;
                width: 2px;

                border: 1px solid #ADB3B9;

                opacity: 0.2;

                align-self: center;
            }
        }
    }
}