@mixin side-menu-item($isActive) {
    display: flex;
    height: 67px;

    position: relative;
    padding-left: 35px;

    cursor: pointer;

    @if $isActive {
        background-color: $colorPurple-Dark;
        color: $colorWhite;

        &::before {
            height: 40.92px;
            width: 6px;
            
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            background-color: $colorOrange;

            border-radius: 0 17px 17px 0;
            
            content: ' ';
            

            @include breakpoint(desktop) {
                background-color: $colorGreen;
            }
        }
        
    }
    @else {
        background-color: $colorPurple-Light;
        color: $colorPink;
    }
    
    >.item-icon {
        padding-right: 20px;
        align-self: center;
        
        >img {
            width: 17px;
            height: auto;

            display: block;
            margin: 0 auto;
        }
    }

    >.item-title {
        align-self: center;

        font-size: 14px;

        >img {
            width: 7px;
            height: 12px;

            position: absolute;
            top: 50%;
            right: 14.5px;
            transform: translateY(-50%);
        }
    }
}

.side-menu-container {
    display: grid;
    grid-auto-flow: row;

    >ul {
        margin: 0;
        padding-top: 0;
    }

    >.item {
            @include side-menu-item(false);
    }

    >.item.active {
            @include side-menu-item(true);
    }
}