@media only screen and (max-width: 768px) {
    @mixin button($buttonColor, $labelColor) {
        text-align: center;
        padding: 13px 19.5px 13px 19.5px;
        font-size: $fontSize-Regular;
        @include font-weight('regular');
        line-height: 17px;
        border-style: none;
        transition-duration: 0.3s;
        background-color: $buttonColor;
        color: $labelColor;
        &:hover {
            background-color: darken($buttonColor, 10%);
            color: $labelColor;
        }

        &:active, &:focus {
            background-color: lighten($buttonColor, 2%) !important;
            color: $labelColor;
        }
    }

    .button-default {
        @include button($buttonColor-Default, $buttonLabel-Default);
        border-radius: 2px;
        box-shadow: 0 2px 0 0 rgba(0,0,0,0.08);
    }
}