@media only screen and (min-width: 769px) {
    .input-group-stretch {
        width: 100%;
    }

    .form-control {
        height: auto;
        padding: 7px 0 6px 0;
        border: 1px solid #C9C9C9 !important;
        border-radius: 4px !important;
        font-size: $fontSize-ExtraSmall;
        line-height: 15px;
        color: #8899AA;
        text-align: center;

        &:disabled {
            background-color: $colorWhite;
        }
    }
}