.form-control {
    height: auto;

    padding: 7px 0 9px 0;
    border: 1px solid #8899AA !important;
    border-radius: 2px !important;
    
    color: #C9C9C9;

    font-size: 13px;
    text-align: center;
    line-height: 15px;

    &:disabled {
        background-color: $colorWhite;
    }

    .input-group-stretch {
        width: 100%;
    }

    @include breakpoint(desktop) {
        padding: 7px 0 6px 0;
        border: 1px solid #C9C9C9 !important;
        border-radius: 4px !important;

        color: #8899AA;   

        font-size: 11px;
    }
}
