@media only screen and (max-width: 768px) {
    .input-group-stretch {
        width: 100%;
    }

    .form-control {
        height: auto;
        padding: 7px 0 9px 0;
        border: 1px solid #8899AA !important;
        border-radius: 2px !important;
        font-size: 13px;
        line-height: 15px;
        color: #C9C9C9;
        text-align: center;

        &:disabled {
            background-color: $colorWhite;
        }
    }
}