@mixin select() {
    position: relative;
    /* Hide Arrow for IE */
    > select::-ms-expand {
        display: none;
    }
    &:after {
        @include custom-arrow(5px, #C9C9C9);         
        content: ' ';
    }
    > select {
        height: auto;

        color: #8899AA; 

        text-overflow: ellipsis;
        text-align: left;

        appearance: none; 
    }
}

@mixin custom-arrow($size, $color) {
    width: 0; 
    height: 0;

    position: absolute;
    top: 50%;
    right: 10px;
    
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;

    appearance: none;  
}

@include breakpoint(desktop) {
    .select-container {
        @include select;
        > select {
            padding: 9.5px 14px 8.5px 12px;

            font-size: 11px;      
        }
    }
}

@include breakpoint(mobile) {
    .select-container {
        @include select;
        > select {
            padding: 15px 14px 16px 17.5px;

            font-size: 12.77px;     
        }
    }
}
