$colorPink: #D18EE2;
$colorGreen: #65B32E;
$colorPurple-Light: #702283;
$colorPurple-Dark: #5D1A75;
$colorPurple-Grey: #6C5E73;
$colorGrey-Light: #8899AA;
$colorGrey-Dark: #626272;
$colorGrey-Black: #333333;
$colorWhite:#FFFFFF;


$buttonColor-Default: #8899AA;
$buttonLabel-Default: #FBFBFB;

$buttonColor-Secondary: rgba(0,0,0,0);
$buttonLabel-Secondary: #626272;

$dropdownButtonColor-Default: #8899AA;